<h1>ユーザー検索</h1>
<%= search_form_for @q, url: graph_days_path do |f| %>
  <%= f.label :calender_day_start, "数値を入力してください" %>
  <%= f.search_field :calender_day_start %>
  <%= f.submit '検索' %>
<% end %>


<div class= "day_table">
<table class="teble">
  <thead>
    <tr>
      <th class="header1">日付</th>
      <th class="header1">イベント</th>
      <th class="header2">タグ</th>
      <th class="header3">お金</th>
      <th class="header4">開始時間</th>
      <th class="header5">終了時間</th>
    </tr>
  </thead>
  <% @results.each do |day| %>
  <tbody>
    <tr>
      <td><%= day.calender_day %></td>
      <td><%= day.event %></td>
      <td><%= day.tag.name %></td>
      <td><%= day.price %></td>
      <td><%= day.s_time%></td>
      <td><%=  I18n.l(day.e_time, format: :short )%></td>
    </tr>
  </tbody>
  <% end %>
</table>


<%= pie_chart @results.group(:price).count %>
<p>合計金額</p>
<%= @sum_price %>
