<h1 class="form_magrin">年月検索</h1>
<%= search_form_for @q, url: graph_days_path do |f| %>
  <div class="form-group mb-3 col-sm-7 form_magrin">
  <%= f.search_field :calender_day_start,  placeholder: "年-月" %>
  </div>
  <div class="actions form_magrin">
  <%= f.submit '検索', class: "btn btn-primary" %>
  </div>
<% end %>


<div class="col-7 table_magrin ml-3">
<table class="table">
  <thead>
    <tr>
      <th scope="col">日付</th>
      <th scope="col">イベント</th>
      <th scope="col">タグ</th>
      <th scope="col">お金</th>
      <th scope="col">開始時間</th>
      <th scope="col">終了時間</th>
    </tr>
  </thead>
  <% @results.each do |day| %>
  <tbody>
    <tr>
      <td><%= day.calender_day %></td>
      <td><%= day.event %></td>
      <td><%= day.tag.name %></td>
      <td><%= day.price %>円</td>
      <td><%= day.s_time%></td>
      <td><%=  I18n.l(day.e_time, format: :short )%></td>
    </tr>
  </tbody>
  <% end %>
</table>

<%= pie_chart @results.group(:tag_id).sum(:price)%>
<div class= "graph_form mt-4">
<p>合計金額</p>
<p><%= @sum_price %>円</p>
</div>
