<div class= "day_table">
<table class="teble">
  <thead>
    <tr>
      <th class="header1">イベント</th>
      <th class="header2">タグ</th>
      <th class="header3">お金</th>
      <th class="header4">開始時間</th>
      <th class="header5">終了時間</th>
      <th class="header6"></th>
      <th class="header7"></th>
    </tr>
  </thead>
<% @days.each do |day| %>
  <tbody>
    <tr>
      <td><%= day.event %></td>
      <td><%= day.tag.name %></td>
      <td><%= day.price %></td>
      <td><%= day.s_time%></td>
      <td><%=  I18n.l(day.e_time, format: :short )%></td>
      <td><%= link_to '編集', edit_day_path(day.id), class: " tagshowthbtn waves-light waves-effect  btn-small teal-text text-darken-4 button_change_link " %></td>
      <td><%= button_to '削除', day_path(day.id), method: :delete, class: " tagshowthbtn waves-light waves-effect  btn-small teal-text text-darken-4 button_change_link " %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<%= link_to  "作成",  new_day_path, class: "tagshowbtn waves-light waves-effect  btn-large teal-text text-darken-4" %>
</div>
