<%= form_with(model: @day , local: true) do |f| %>
  <div class="input-field">
    <%= f.label :tag_id%>
    <%= f.collection_select :tag_id, tag, :id, :name, class: 'day_input_content_form'%>
  </div>
  <div class="input-field">
    <%= f.label :event%>
    <%= f.text_field :event, class: 'day_input_content_form'%>
  </div>
  <div class="input-field">
    <%= f.label :price%>
    <%= f.text_field :price, class: 'day_input_content_form'%>
  </div>
  <div class="input-field">
    <%= f.label :start_time%>
    <%= f.datetime_field :start_time, class: 'day_input_day_form'	%>
  </div>
  <div class="input-field">
    <%= f.label :e_time%>
    <%= f.datetime_field :e_time, class: 'day_input_day_form'	%>
  </div>
  <div class ='day_btn'>
    <%= f.submit '登録', class: 'waves-light waves-effect  btn-large teal-text text-darken-4 user_new_btn '%>
  </div>
<%end%>
